extends layout

block content
  h1= title
  p Welcome to #{title}
  form(name="sayHelloGet", method="get")
    div.input
        span.label Title
        input(type="text", name="title")
    div.actions
        input(type="submit", value="add")
        
  form(name="sayHelloPost", method="post")
    div.input
        span.label Title
        input(type="text", name="title")
    div.actions
        input(type="submit", value="add")